<div class="content">
  <div class="header" fxLayout="row wrap" fxLayoutAlign="space-around center">
    <div class="imagen-container">
      <img [src]="imagePath" alt="Pokemon foto" class="imagen">
    </div>
    <div fxLayout="column" fxLayoutAlign="space-around center">
      <div class="order">
        #{{pokemon?.order | number : '3.0-0'}}
      </div>
      <div class="name-black">
        {{pokemon?.name | titlecase}}
      </div>

      <div class="types">
        <mat-chip-list aria-label="Tipos">
          <mat-chip *ngFor="let tipo of pokemon?.types" [ngClass]="tipo.type.name">{{tipo.type.name | titlecase}}
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
  </div>

  <div class="about-content" fxLayout="row wrap" fxLayoutAlign="space-around center">
    <div class="profile-box info-box general" fxLayout="column">

      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Generales">
          <div class="info-line" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="title">Peso</div>
            <div class="info">{{pokemon?.weight | kiloFormater}}</div>
          </div>
          <div class="info-line" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="title">Altura</div>
            <div class="info">{{pokemon?.height | metroFormater}}</div>
          </div>
          <div class="info-line" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="title">Habilidades</div>
            <div class="info" *ngFor="let ab of pokemon?.abilities">{{ab.ability.name}}</div>
          </div>
        </mat-tab>
        <mat-tab label="Estadísticas">
          <div *ngFor="let stat of pokemon?.stats" style="margin-top: 16px;">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <div class="title">{{stat.stat.name}}</div>
              <label class="example-value-label">{{stat.base_stat}}</label>
            </div>
            <mat-progress-bar mode="determinate" [value]="stat.base_stat"></mat-progress-bar>
          </div>
        </mat-tab>
        <mat-tab label="Movimientos" style="overflow-y: hidden;">
          <div class="moves" >
            <mat-chip-list aria-label="Movimientos">
              <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                <mat-chip *ngFor="let move of pokemon?.moves">{{move.move.name | titlecase}}
                </mat-chip>
              </div>
            </mat-chip-list>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <div fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">
  </div>
</div>