.content {
  display: block !important;
  background: #f5f5f5;
}

.imagen {
  width: 300px;
  min-width: 300px;
}
.order {
  font-size: 28px;
  color: gray;
  padding-bottom: 16px;
}
.name-black {
  font-size: 34px;
  color: black;
  padding-bottom: 16px;
}



.profile-box {
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 16px;
}

.tab-content {
  margin: 14px
}

.info-line {
  margin-bottom: 24px;
  margin-top: 24px;
}
.info-line:last-child {
  margin-bottom: 0;
}
.title {
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 4px;
}

.types {
  top: 200px;
  right: 10px;
}
mat-progress-bar {
  margin-bottom: 14px;
}

.moves {
  margin-top: 16px;
  padding-left: 14px;
  padding-right: 14px;
}
/* tipos */
.fire {
  background: red;
  color: #ffffff;
}
.water {
  background: blue;
  color: #ffffff;
}
.bug {
  background: lightgreen;
}
.rock {
  background: grey;
}
.grass {
  background: green;
  color: #ffffff;
}
.ground {
  background: sienna;
}
.steel {
  background: silver;
}
.ghost {
  background: black;
  color: #ffffff;
}
.psychic {
  background: pink;
}
.ice {
  background: white;
}
.electric {
  background: yellow;
}
.flying {
  background: lightblue;
}
.dragon {
  background: darkcyan;
  color: #ffffff;
}
.fighting {
  background: darkorange;
}
.normal {
  background: grey;
  color: #ffffff;
}
.poison {
  background: mediumslateblue;
  color: #ffffff;
}
.fairy {
  background: violet;
  color: #ffffff;
}
