<div class="header p-24" fxLayout="row" fxLayoutAlign="space-around center">

  <div class="imagen-container">
    <img [src]="imagePath" [alt]="pokemon.name" class="imagen">
  </div>

  <div fxLayout="column" fxLayoutAlign="space-around center">
    <div class="name">
      {{pokemon.name|titlecase}}
    </div>
  
    <div class="types">
      <mat-chip-list aria-label="Tipos">
        <mat-chip *ngFor="let tipo of pokemon.types" [ngClass]="tipo.type.name">{{tipo.type.name | titlecase}}</mat-chip>
      </mat-chip-list>
    </div>
  </div>

</div>

<div class="content">
  <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

    <div class="profile-box info-box general" fxLayout="column">

      <!-- <div class="content">
          <div class="info-line">
            <div class="title">Nombre(s)</div>
            <div class="info">{{profile.firstName}}</div>
          </div>

          <div class="info-line">
            <div class="title">Apellido(s)</div>
            <div class="info">{{profile.lastName}}</div>
          </div>

          <div class="info-line">
            <div class="title">Teléfono</div>
            <div class="info">{{profile.tel}}</div>
          </div>

          <div class="info-line">
            <div class="title">Correo</div>
            <div class="info">{{profile.email}}</div>
          </div>
        </div> -->

    </div>

  </div>
</div>