.header {
  height: 30vh;
  min-height: 30vh;
  max-height: 30vh;
  background: url("/pokedex/assets/images/dark-material-bg.jpg") no-repeat 0 45%;
  background-size: cover;
}
.name {
  font-size: 34px;
  color: #ffffff;
  padding-top: 24px;
  padding-bottom: 24px;
}

.profile-box {
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 16px;
}
header {
  padding: 16px;
  font-size: 17px;
}

.more {
  cursor: pointer;
}

.content {
  padding: 16px;
}

.info-line {
  margin-bottom: 24px;
}
.info-line:last-child {
  margin-bottom: 0;
}
.title {
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 4px;
}
.imagen {
  width: 300px;
  min-width: 300px;
  padding-top: 120px;
}
.types {
  top: 200px;
  right: 10px;
}

/* tipos */
.fire {
  background: red;
  color: #ffffff;
}
.water {
  background: blue;
  color: #ffffff;
}
.bug {
  background: lightgreen;
}
.rock {
  background: grey;
}
.grass {
  background: green;
  color: #ffffff;
}
.ground {
  background: sienna;
}
.steel {
  background: silver;
}
.ghost {
  background: black;
  color: #ffffff;
}
.psychic {
  background: pink;
}
.ice {
  background: white;
}
.electric {
  background: yellow;
}
.flying {
  background: lightblue;
}
.dragon {
  background: darkcyan;
  color: #ffffff;
}
.fighting {
  background: darkorange;
}
.normal {
  background: grey;
  color: #ffffff;
}
.poison {
  background: mediumslateblue;
  color: #ffffff;
}
.fairy {
  background: violet;
  color: #ffffff;
}
